<% @recent.each_with_index do |media_item, i| %>


		<b>
			Next item:
		</b>
		<br>
		<a href="#image<%= i %>" >
			<img class="image" src= <%= "#{media_item.images.low_resolution.url}" %>>
		</a>
		<br>
		<%= media_item['id'] %>
		<br>	
		<%= media_item['id'].split("_")[0].to_i %>
		<br>
		<br>

	<% end %>

<%= session[:maxid] %>
<%= session[:minid] %>

	<%= link_to "next", next_path %>
	<%= link_to "back", next_path %>